<h1>50d6</h1>

<%= params %>

<h1>50d6</h1>

<ul>
  <% @rolls.each do |a_roll|%>
    <li>
      <%= a_roll %>
    </li>
  <% end %>
</ul>

<ul>
  <% @rolls.each do |a_roll| %>
    <li>
      <%= a_roll %>
    </li>
  <% end %>
</ul>
